/* You can add global styles to this file, and also import other style files */

.list {
  padding: 8px;
}

.btn {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: lightcoral;
  text-decoration: none;
  border-radius: 5%;
  font-size: 15px;
}

input {
  padding: 10px;
}
