<h1>Structural Directives</h1>

<h2><u>Example of ngIf</u></h2>
<div class="row">Show <input type="checkbox" [(ngModel)]="showMe" /></div>

<h3>ngIf</h3>
<p *ngIf="showMe">ShowMe is checked</p>

<p *ngIf="!showMe">ShowMe is unchecked</p>

<h3>ngIf Else</h3>
<p *ngIf="showMe; else elseBlock1">ShowMe is checked</p>

<ng-template #elseBlock1>
  <p>ShowMe is unchecked Using elseBlock</p>
</ng-template>

<h3>ngIf then else</h3>

<p *ngIf="showMe; then thenBlock1; else elseBlock2">This is not rendered</p>

<ng-template #thenBlock1> <p>ShowMe is checked Using thenblock</p></ng-template>
<ng-template #elseBlock2>
  <p>ShowMe is unchecked Using elseBlock</p></ng-template
>

<h3>using hidden</h3>

<p [hidden]="showMe">
  content to render, when the condition is true using hidden property binding
</p>

<p [hidden]="!showMe">
  content to render, when the condition is false. using hidden property binding
</p>

<hr />

<app-ng-for></app-ng-for>

<hr />

<app-ng-switch></app-ng-switch>
